/* Carousel Admin Styles */

#ucsfhr-icon-32 {
	background: url( ../images/icon32_ucsfhr_carousel.png ) 0 0 no-repeat !important;
}

#new-slides.form-table th {
	display: none;
}

.slide{
	clear: both;
	padding: 20px;
}

.slide > div { 
	padding: 10px 0;
}

.slide h3 {
	border-bottom: 1px dotted #333;
	font-size: 18px;
	padding-bottom: 10px;
}

.slide p {
	font-weight: bold;
	margin-top: 0;
}

.slide .clear {
	padding: 0;
}

.slide .text-title-link-container {
	float: left;
	width: 430px;
}

.slide .text-title-link-container > div {
	margin-bottom: 20px;
}

.slide .image-display-container{
	overflow: hidden;
	border: 1px solidg gainsboro;
	height: 320px;
	text-align: center;
	max-width: 100%;
}

.slide .image-display-container img{
	min-height: 300px;
}

.slide .delete {
	color: #21759b;
	cursor: pointer;
	text-decoration: underline;
}

#new-slide-button-container {
	clear: both;
	text-align: center;
}

#new-slide-button-container .new-slide-button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9) );
	background:-moz-linear-gradient( center top, #f9f9f9 5%, #e9e9e9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
	background-color:#f9f9f9;
	-webkit-border-top-left-radius:10px;
	-moz-border-radius-topleft:10px;
	border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	-moz-border-radius-topright:10px;
	border-top-right-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	-moz-border-radius-bottomright:10px;
	border-bottom-right-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	-moz-border-radius-bottomleft:10px;
	border-bottom-left-radius:10px;
text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	cursor: pointer;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	font-style:normal;
height:50px;
	line-height:50px;
width:150px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
}

#new-slide-button-container .new-slide-button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9) );
	background:-moz-linear-gradient( center top, #e9e9e9 5%, #f9f9f9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9');
	background-color:#e9e9e9;
}

#new-slide-button-container .new-slide-button:active {
	position:relative;
	top:1px;
}

.slide-display-options p {
	margin-top: 20px;
}